# pm gitignore file
.internals/archived-distributions
.internals/logs
.internals/notes
!./.internals/constitution.sh
!./.internals/usage.png

builds/*
!builds
!builds/.manifest

configurations/*
!configurations
!configurations/.manifest

sources/*
!sources
!sources/.manifest

stores/*
!stores
!stores/.manifest

distributions/*
!distributions
!distributions/.manifest

projects/*
!projects
!projects/.manifest

