# pm gitignore file
.internals/
!./.internals/constitution.sh
!./.internals/usage.png

builds/*
!builds

configurations/*
!configurations

sources/*
!sources

stores/*
!stores

distributions/*
!distributions

